.wrapper {
	border: 2px solid #000;
}

.top {
	display: flex;
	flex-direction: row;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}

	&__left-block {
		max-width: 150px;
		width: 100%;

		@media (max-width: 767px) {
			max-width: 100%;
			margin-bottom: 5px;
		}
	}

	&__right-block {
		width: 100%;
	}

	&__left-block,
	&__right-block,
	&__mobile-block{
		border: 1px solid #00bfff;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 150px;
	}

	&__mobile-block {
		display: none;
		max-width: 150px;
		width: 100%;
		text-align: center;

		@media (max-width: 991px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: 767px) {
			max-width: 100%;
			margin-top: 5px;
		}
	}
}

.bottom {
	display: flex;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		margin-top: 5px;
	}

	&__left-block,
	&__right-block {
		width: 50%;
		border: 1px solid #00bfff;
		justify-content: center;
		align-items: center;
		height: 150px;
		text-align: center;

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.up-blocks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		&__w-60,
		&__w-40 {
			border: 1px solid #00bfff;
			height: 50px;
		}

		&__w-60 {
			width: 60%;
		}

		&__w-40 {
			width: 40%;
		}
	}


}