<div class="container">
  <div class="wrapper">
    <div class="top">
      <div class="top__left-block">
        left block
      </div>
      <div class="top__right-block">
        right block
      </div>
      <div class="top__mobile-block">
        Mobile-block
      </div>
    </div>
    <div class="bottom">
      <div class="bottom__left-block">
        <div class="up-blocks">
          <div class="up-blocks__w-60">width 60%</div>
          <div class="up-blocks__w-40">width 40%</div>
        </div>
        50%
      </div>
      <div class="bottom__right-block">
        50%
      </div>
    </div>
  </div>


</div>